<!DOCTYPE html>
<html lang="pt-BR" ng-app="formApp">
<head>
  <meta charset="UTF-8">
  <title>Formulário com FullCalendar</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app_calendario.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
</head>
<body ng-controller="FormController">

  <div class="container p-3 bg-primary text-center rounded-top">
    <h2 class="mb-4 modal-header text-white">Demonstração Simples De Agendamento</h2>
  </div>
    <div class="container rounded shadow p-4">

      <form>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Disciplina</label>
            <select class="form-select" ng-model="form.escola" ng-options="e for e in escolas"></select>
          </div>
          <div class="col-md-4">
            <label class="form-label">Semestre</label>
            <select class="form-select" ng-model="form.semestre" ng-change="definirDatas();gerarTabela(form.semestre)" ng-options="s.nome for s in semestres track by s.id"></select>
          </div>
          <div class="col-md-4">
            <label class="form-label">Professor</label>
            <input type="text" class="form-control" ng-model="form.professor">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <label class="form-label" >Intervalo</label>
            <div class="form-control bg-light">
              {{ intervalo.start | date:'dd/MM/yyyy' }} a {{ intervalo.end | date:'dd/MM/yyyy' }}
            </div>
          </div>
          <div class="col-md-3">
            <label class="form-label">Turno</label>
            <select class="form-select" ng-model="form.turno" ng-options="t for t in turnos" ng-change="gerarTabela(form.turno)"></select>
          </div>
          <div class="col-md-3">
            <label class="form-label">Qtd. Aulas</label>
            <select class="form-select" ng-model="form.aulas" ng-change="gerarTabela(form.aulas)">
              <option ng-value="1">2 primeiras</option>
              <option ng-value="2">2 últimas</option>
              <option ng-value="4">4</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="form-label">Ambiente padrão</label>
            <select class="form-select" ng-model="form.ambiente" ng-options="a.nome for a in ambientes track by a.id" ng-change="gerarTabela(form.ambiente)"></select>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Dias da Semana</label><br>
          <div class="form-check form-check-inline" ng-repeat="(dia, label) in diasSemana">
            <input type="checkbox" class="form-check-input" ng-model="form.diasSelecionados[dia]" id="dia{{dia}}" ng-change="gerarTabela()">
            <label class="form-check-label" for="dia{{dia}}">{{ label }}</label>
          </div>
        </div>

        <p ng-if="muitosConflitos" style="color: red;">Muitos conflitos detectados!</p>
      </form>

      <form>
        <div class="row justify-content-center">
          <div class="calendar-container" id="calendarioMes1"></div>
          <div class="calendar-container" id="calendarioMes2"></div>
          <div class="calendar-container" id="calendarioMes3"></div>
        </div>
        <div class="row justify-content-center">
          <div class="calendar-container" id="calendarioMes4"></div>
          <div class="calendar-container" id="calendarioMes5"></div>
          <div class="calendar-container" id="calendarioMes6"></div>
        </div>
      </form>

      <div class="modal fade show" ng-if="modalAberta" ng-style="{'background': 'rgba(0,0,0,0.5)'}">
        <div class="modal-dialog">
          <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header rounded-top bg-primary">
              <h5 class="modal-title text-white">Informações do Evento Selecionado</h5>
              <button type="button" class="btn-close btn-close-white" aria-label="Close" ng-click="fecharModal()"></button>
            </div>
            <div class="modal-body">

              <div class="modal fade show" ng-if="modalAberta" ng-style="{'background': 'rgba(0,0,0,0.4)', 'backdrop-filter': 'blur(6px)'}">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content shadow-lg p-3 rounded-4" style="background: rgba(255, 255, 255, 0.85); backdrop-filter: blur(10px); border: 1px solid rgb(0, 117, 226);">

                    <div class="modal-header rounded-top" style="background: linear-gradient(135deg, #0d6efd, #0a58ca); border-bottom: none;">
                      <h5 class="modal-title text-white">Informações do Evento</h5>
                      <button type="button" class="btn-close btn-close-white" aria-label="Close" ng-click="fecharModal()"></button>
                    </div>

                    <div class="modal-body">
                      <div style="max-height: 500px; overflow-y: auto; border-radius: 0.75rem; padding: 10px;">

                          <form class="FormModal row">
                          <div class="col-md-8">
                            <label class="form-label">Título:</label>
                            <input type="text" ng-model="eventoSelecionado.title" class="form-control text-center">
                          </div>
                          <div class="col-md-4">
                            <label class="form-label">Data:</label>
                            <input type="text" ng-model="eventoSelecionado.startStr" class="form-control text-center">
                          </div>
                        </form>

                        <div class="alert alert-danger mt-2" ng-if="muitosConflitos">
                          Muitos conflitos com este ambiente, considere trocar o ambiente padrão.
                        </div>

                        <div class="alert alert-warning mt-2" ng-if="conflitos && !muitosConflitos">
                          Existem {{conflitos}} conflitos.
                        </div>

                        <table class="table table-striped mb-0 rounded-3 overflow-hidden">
                          <thead class="table-dark text-center">
                            <tr>
                              <th>Data</th>
                              <th>Dia da Semana</th>
                              <th>Horário</th>
                              <th>Ambiente</th>
                              <th>Ações</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat-start="item in tabela" ng-class="{
                                'table-danger': item.conflito && muitosConflitos,
                                'table-warning': item.conflito && !muitosConflitos
                              }">
                              <td>{{ item.data | date:'dd/MM/yyyy' }}</td>
                              <td>{{ item.dia }}</td>
                              <td>{{ item.horario }}</td>
                              <td>
                                <select class="form-select form-select-sm" ng-model="item.ambiente" ng-options="a.nome for a in ambientes track by a.id"></select>
                              </td>
                              <td>
                                <button class="btn btn-outline-primary btn-sm rounded-pill" ng-click="desmembrar(item)" ng-if="!item.desmembrado">Desmembrar</button>
                              </td>
                            </tr>
                            <tr ng-repeat="aula in item.subaulas" ng-if="item.desmembrado" class="table-secondary">
                              <td colspan="2"></td>
                              <td>{{ aula.horario }}</td>
                              <td>
                                <select class="form-select form-select-sm" ng-model="aula.ambiente" ng-options="a.nome for a in ambientes track by a.id"></select>
                              </td>
                              <td></td>
                            </tr>
                            <tr ng-repeat-end></tr>
                          </tbody>
                        </table>

                      </div>
                    </div>

                    <div class="modal-footer d-flex justify-content-end border-top-0">
                      <button ng-click="salvarEvento()" class="btn btn-primary rounded-pill px-4 shadow-sm">
                        Salvar
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer d-flex">
              <button ng-click="salvarEvento()" class="btn btn-primary">
                Salvar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>
<style>
  #calendar {
    margin: 10px;
  }

  .fc {
    font-size: 10px;
    width: 600px;
    height: 600px;
    background: #fff;
    padding: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .fc-event-title {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: clip !important;
    word-break: break-word !important;
    display: block;
  }

  .fc:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }

  .fc-toolbar-title {
    font-size: 14px !important;
    font-weight: 600;
    color: #000000;
  }

  .fc-event {
    font-size: 8px;
    padding: 1px 1px;
    background-color: #0d6efd !important;
    color: white !important;
    border: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }

  .fc-event:hover {
    transform: scale(1.8);
  }

  .fc-daygrid-day {
    width: 55px;
    background-color: #f9f9f9;
  }

  .fc-daygrid-day:hover {
    background-color: #e9ecef;
  }

  .calendar-container {
    width: 420px;
    height: 500px;
    margin-bottom: 20px;
  }

.modal.show {
  display: block;
  backdrop-filter: blur(4px);
}

.modal-content {
  border-radius: 1rem;
  animation: fadeInDown 0.5s ease-out;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(33, 37, 41, 0.61); /* dark gray with transparency */
}

.table {
  border-radius: 0.75rem;
  overflow: hidden;
  width: 800px;
}

.btn-close {
  filter: brightness(0) invert(1);
}

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }
</style>

</body>
</html>
